{% set current_page = "about" %}
{% set narrow_content = True %}
{% extends "base.html" %}

{% block content %}
<div id="about" class="sm:rounded-lg component-shadow">
    <div id="heading" class="bg-gray-800 px-6 py-4 h-fit">
        <h1>À Propos</h1>
        <div id="header">
            <h3 class="mt-1 text-sm font-normal text-blue-200">Information sur le fonctionnement de l'outil.</h3>
        </div>
    </div>
    <main class="p-8">
    </main>
</div>
{% endblock content %}

{% block script_area %}
{% endblock script_area %}
